<div class="container">
    <h1>All Orders</h1>
    <div class="input-group">
        <div class="input-group-addon"><i class="fa fa-search"></i></div>
        <input type="text" class="form-control" placeholder="Search for Order" ng-model="searchFish"/>
    </div>
    <table class="table">
        <th>Customer</th>
        <th>Date</th>
        <th>Cost</th>
        <th>Address</th>
        <tr ng-repeat="order in vm.orders  | filter:searchFish">
            <!--<td><a ng-click="vm.viewCustomer(order[0])">{{order[1]}}</a></td>-->
            <td>{{order[1]}}</td>
            <td>{{order[3] |date}}</td>
            <td>{{order[2]}}</td>
            <td>{{order[4]}}, {{order[5]}}, {{order[6]}}, {{order[7]}}, {{order[8]}}</td>
            <td>
                <button class="button" ng-click="vm.viewOrder(order[9]);">View Order</button>
            </td>
        </tr>
    </table>
</div>