<div class="container">
<h1>View Product</h1>

    <div ng-show="vm.user.isAdmin===true">
    <button   type="button" class="btn btn-default" ng-click="vm.goToEditProduct()">Edit Product</button>
    <button  type="button" class="btn btn-danger" ng-click="vm.removeProduct()">Delete Product</button>
</div>
    <div ng-show="vm.user.isAdmin===false">
    <button ng-if="vm.product.stockLevel>0" type="button" class="btn btn-default" ng-click="vm.addToCart()">Add to cart</button>
</div>

<table class="table">
    <td><img ng-src="{{vm.product.image}}"></td>
    <tr><td>Title</td><td>{{vm.product.title}}</td></tr>
    <tr><td>Manufacturer</td><td>{{vm.product.manufacturer}}</td></tr>
    <tr><td>Description</td><td>{{vm.product.description}}</td></tr>
    <tr><td>Price</td><td>{{vm.product.price}}</td></tr>
    <tr><td>Amount remaining</td><td>{{vm.product.stockLevel}}</td></tr>
</table>
    <div>
        <h3>Average rating:</h3>
    <span>
            <div star-rating rating-value="vm.rating" max="5"></div>
    </span>
    </div>


    <form>
        <div class="form-group">
            <h3>Leave a review</h3>
            <label for="comment">Post A comment:</label>
            <span>
                <div star-rating rating-value="1" max="5" on-rating-selected="vm.setRating(rating)"></div>
            </span>
            <input ng-model="vm.comment.comment" type="text" class="form-control" id="comment">

        </div>
        <button type="submit" ng-click="vm.postComment()" class="btn btn-default">Save Review</button>
    </form>

<div class="comment" ng-repeat="comment in vm.product.comments  track by $index">
        <p> {{comment.comment}}</p>
    <span>
            <div star-rating rating-value="comment.rating" max="5"></div>
        </span>
    </div>

</div>
