<h1 align="center">All Products</h1>

<body>

<div ng-show="vm.user.isAdmin===true">
    <button type="button" class="btn btn-default" ng-click="vm.gotToAddProduct()">Add Product</button>
</div>
<form>
    <div class="form-group">
        <div class="input-group">
            <div class="input-group-addon"><i class="fa fa-search"></i></div>
            <input type="text" class="form-control" placeholder="Search for Product" ng-model="searchFish"/>
        </div>
    </div>
</form>
<div class="table-responsive">
    <table class="table">
        <tr>
            <th>
                <a ng-click="orderByField='title'; vm.reverseSort = !vm.reverseSort">
                    Title <span ng-show="orderByField == 'title'"><span ng-show="!vm.reverseSort">^</span><span
                        ng-show="vm.reverseSort">v</span></span>
                </a>
            </th>
            <th><a ng-click="orderByField='description'; vm.reverseSort = !vm.reverseSort">
                Description <span ng-show="orderByField == 'description'"><span ng-show="!vm.reverseSort">^</span><span
                    ng-show="vm.reverseSort">v</span></span>
            </a>
            </th>
            <th><a ng-click="orderByField='price'; vm.reverseSort = !vm.reverseSort">
                Price <span ng-show="orderByField == 'price'"><span ng-show="!vm.reverseSort">^</span><span
                    ng-show="vm.reverseSort">v</span></span>
            </a>
            </th>
            <th><a ng-click="orderByField='manufacturer'; vm.reverseSort = !vm.reverseSort">
                Manufacturer <span ng-show="orderByField == 'manufacturer'"><span
                    ng-show="!vm.reverseSort">^</span><span ng-show="vm.reverseSort">v</span></span>
            </a>
            </th>
        </tr>
        <tr ng-click="vm.goToProduct(product.id)"
            ng-repeat="product in vm.products | filter:searchFish |orderBy:vm.orderByField:vm.reverseSort">
            <td>{{product.title}}</td>
            <td>{{product.description}}</td>
            <td>{{product.price}}</td>
            <td>{{product.manufacturer}}</td>
            <td><img ng-src="{{product.image}}" height="100" width="100"></td>
            <td>
                <button type="button" class="btn btn-info" ng-click="vm.goToViewProduct(product)">View Product</button>
            </td>
        </tr>
    </table>
</div>
</body>