.ng-view{
    padding-left: 10%;
    padding-right:10%;
}

.rating {
    color: #a9a9a9;
    margin: 0;
    padding: 0;
}

ul.rating {
    display: inline-block;
}

.rating li {
    list-style-type: none;
    display: inline-block;
    padding: 1px;
    text-align: center;
    font-weight: bold;
    cursor: pointer;
}

.rating .filled {
    color: red;
}

.comment {
    border: 2px solid #9fadaa;;
    padding: 10px;
    background-color: #ffffff;
    border-radius: 25px;
}